body {
    display: grid;
    justify-content: center;
}

#user-interface {
    width: 100%;
    height: 100vh;
}

#display-color {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: x-large;
}
